<header>
            <div class="row bluerow m-0 p-0"> 
            <div class="col-12 p-0 m-0"> 
        
                    <div class="row p-0 m-0">
            <div class="col-4 m-0 text-center py-5"> 
                <div class="row m-0 p-0"></div>
                <div class="row p-0 m-0">
                <h2 class="fw-bold ">{{titles.header}}</h2>
                </div>
            </div>
                 <div class="col-4 p-0 m-0 text-center"> 
                    <img class="rounded-circle p-3 m-0" src="/public/img/logo.png" alt="{{titles.header}}">
                 </div>
                 <div class="col-4 p-0 m-0 pe-2"> 
                    <div class="row p-0 m-0 gx-2">
                         <nav class="nav-tab text-end p-0 m-0 mt-2 me-1">
                    <a type="button" class="btn btn-warning" href="#" alt="UA">UA</a>
                    <a type="button" class="btn btn-primary" href="#" alt="En">EN</a>
                     </nav>
                    </div>
                 </div>
                </div>
         
            
            </div> 
                   
            </div>
    </header>

    <main>

<div class="row m-0 p-0 text-center">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</div>

<div class="col-12 yellowrow m-0 p-0">

<div class="row border m-0 yellowrow">
  <div class="col-2 m-0 p-3"> 
<menu type="list" style="padding-left: 5px;" class="border m-1 p-0">
<ul type="square" class="list-group">
{{#each menu}}
<a type="button" class="btn btn-outline-warning text-light border p-3 m-1" href="#" alt="{{item}}">{{item}}</a>
{{/each}}
</ul>                  
</menu>
      </div>
                <div class="col-10 m-0 p-5 pt-2 mt-1">
                     <div class="card bg-secondary text-light p-2 m-2 ">
            
  <img src="{{descriptions.about.image}}" class="card-img-top" alt="{{titles.main}}">

  <div class="card-body">
    <h5 class="card-title">
        {{descriptions.about.title}}
      </h5>
    <p class="card-text">{{descriptions.about.primary}}</p>
  </div>

            </div>
                </div>
             
</div>
</div>
    </main>
    <footer>

    </footer>