<header>
            
      <div class="conteiner-fluid " style="background-color: #edd97aa4"> 
             <div class="row w-100  d-inlign-block" style="height: 220px;">
              <div class="col-4 row h-75 text-center" >
           
                 <h2 class="position-relative top-50 start-0 ps-5 fw-bold text-uppercase">Institute Intermarium</h2>
          
       </div>


<div class="col-4 row h-50 justify-content-center ps-4 ms-4" >
            
                    <img class="position-absolute mt-5 mx-auto d-block rounded-circle" style="width: 155px; height: 120px; border:5px solid #fff3b2" src="/../img/logo_site.png" alt="Логотип">
           
         </div> 

                <div class="col-4 row h-50 text-center" >
           
               <h2 class="position-relative top-50 start-0 ps-5 fw-bold text-uppercase">Інститут Інтермаріум</h2>
          
       </div>

  </div>
     </div>   
    </header>

    <main>

<div class="conteiner-fluid">
<nav class="navbar navbar-expand-lg justify-content-center bg-body-tertiary">
  <div class="row justify-content-center g-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active fs-5 fw-medium" aria-current="page" href="/about">Про Інститут</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fs-5 fw-medium" href="/grouplist" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Склад Інституту
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-5 fw-medium" href="/root">Керівництво</a></li>
            <li><a class="dropdown-item fs-5 fw-medium" href="/analitics">Аналітична Кафедра</a></li>
          </ul>
        </li>
      </ul>
      {{!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}
    </div>
  </div>
</nav>
</div>

<div class="conteiner-fluid rounded ">

<div class="col-12 row ">


                <div class="container-fluid col-8 row rounded m-auto ">
                     <div class="card border bg-secondary text-light p-3 m-0 ">
            
  <img src="{{descriptions.about.image}}" class="card-img-top rounded" alt="Фото публікації">

  <div class="card-body">
    <h5 class="card-title">
        {{descriptions.about.title}}
      </h5>
    <p class="card-text">{{descriptions.about.primary}}</p>
  </div>

            </div>
                </div>

</div>
</div>

<div class="container-fluid col-12 row justify-content-center my-3">
    <div class="col-10 row justify-content-center py-3">
<div class="card card-body row bg-secondary  ">
  <div class="col-12 row">
 <div class="col-2 ">
    <img src="https://picsum.photos/100/100" class="aside">
    </div>
    
    <div class="col-10 ">
  GitLab не може автоматично підтвердити вашу особу. З міркувань безпеки ви повинні встановити пароль, скинувши його , щоб видалити свій обліковий запис.

Якщо після встановлення пароля можливість видалення облікового запису все ще недоступна, надішліть запит , щоб почати процес видалення облікового запису.</div>
</div>
      
</div>

    </div>


    <div class="col-9 row justify-content-center py-3">
<div class="card card-body row bg-secondary">
  <div class="col-12 row">
 <div class="col-2 ">
    <img src="https://picsum.photos/100/100" class="aside">
    </div>
    
    <div class="col-8 ">
  GitLab не може автоматично підтвердити вашу особу. З міркувань безпеки ви повинні встановити пароль, скинувши його , щоб видалити свій обліковий запис.

Якщо після встановлення пароля можливість видалення облікового запису все ще недоступна, надішліть запит , щоб почати процес видалення облікового запису.</div>
</div>
      
</div>

    </div>

</div>


<div class="conteiner-fluid bg-warning">
<div class="row border-bottom p-3">

<div class="col-6 row p-3">

<div class="col-4 row p-3">


    <div class="col-8 row p-3">
        <div class="col-4 p-3">
    <img src="https://picsum.photos/100/100">
    </div>
    </div>


 </div>



{{!-- Про товар --}}
<div class="col-8 p-3">
    <p class="fs-5">{{number}}</p>
    <p class="fs-3">{{status}}</p>
</div>
{{!-- Про товар --}}






{{!-- ціна --}}
<div class="col-4 p-3">
    {{#with amount}}
    <p class="fs-4 fw-medium">{{title}}</p>
    <p>{{value}}</p>
    {{/with}}
</div>
{{!-- ціна --}}

</div>






</div>


</div>
    </main>

     <footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/ialibogdan/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright --> 
    </footer>